<div style="height: 800px; padding-top: 80px;" class="container">
    <div class="delivery-box">
        <h2>Delivery Form</h2>
        <form action="">
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Student Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>School</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Student ID</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Parent Contact</label>
            </div>
            <a routerLink="/profile">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form> 
    </div>   
</div>

