<div style="height: 800px; padding-top: 80px;" class="container">
    <h2 style="color:orange; font-weight: bold;"><span style="color: skyblue; font-weight: bold;">e</span>Mwanafunzi<span style="color: navy; font-size: 20px;">__Cart Items</span></h2>
    
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Cadbury Chocolate-Dream</td>
            <td>2</td>
            <td>Ksh 150</td>
        </tr>
        <tr>
            <td>Socks-Medium</td>
            <td>3</td>
            <td>Ksh 150</td>
        </tr>
        </table><br>
        <h6 class="text-center">TOTAL</h6><hr style="width: 30rem;">
        <p class="text-center">Ksh 300</p>
        <div class="buttons">
            <button style="margin-left: 400px;" routerLink="/">Continue Shopping</button>
            <button style="margin-left: 40px;" routerLink="/payment">Purchase Items</button>
        </div>
        
</div>