<div class="container" style="height: 750px;">
</div>
<div class="login-box" style="margin-top:80px">
    <h2 style="font-weight: bold;"><span style="color: orange;">e</span>Mwanafunzi</h2>
    <form action="">
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Confirm Password</label>
        </div>
        <a routerLink="/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>
    </form>
    <hr>
    <p style="color: whitesmoke;">Already have an account?<a style="color: #30E9F4;" routerLink="/login"> LogIn</a></p>
</div>